IF OBJECT_ID('QuanLyATC_HueTam', 'P')IS NOT NULL
	DROP PROC HT_tuyendung
GO

IF DB_ID('QuanLyATC_HueTam') IS NULL 
	CREATE DATABASE QuanLyATC_HueTam
GO

USE QuanLyATC_HueTam
GO
CREATE TABLE [dbo].[LOAI_NVL](
	[ID_LoaiNVL] [nvarchar](5) NOT NULL,
	[Ten_LoaiNVL] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAI_NVL] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiNVL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAI_NVL] ([ID_LoaiNVL], [Ten_LoaiNVL], [MoTa]) VALUES (N'LNVL1', N'Rau', NULL)
INSERT [dbo].[LOAI_NVL] ([ID_LoaiNVL], [Ten_LoaiNVL], [MoTa]) VALUES (N'LNVL2', N'Củ', NULL)
INSERT [dbo].[LOAI_NVL] ([ID_LoaiNVL], [Ten_LoaiNVL], [MoTa]) VALUES (N'LNVL3', N'Nấm', NULL)
/****** Object:  Table [dbo].[LOAI_MON]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MON](
	[ID_LoaiMon] [nvarchar](5) NOT NULL,
	[Ten_LoaiMon] [nchar](25) NOT NULL,
	[MoTa] [nchar](100) NULL,
 CONSTRAINT [PK_LOAI_MON] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiMon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAI_MON] ([ID_LoaiMon], [Ten_LoaiMon], [MoTa]) VALUES (N'C', N'Canh                     ', NULL)
INSERT [dbo].[LOAI_MON] ([ID_LoaiMon], [Ten_LoaiMon], [MoTa]) VALUES (N'CC', N'Cơm chiên các loại       ', NULL)
INSERT [dbo].[LOAI_MON] ([ID_LoaiMon], [Ten_LoaiMon], [MoTa]) VALUES (N'G', N'Gỏi                      ', NULL)
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[Ho_KH] [nvarchar](50) NULL,
	[Ten_KH] [nvarchar](50) NOT NULL,
	[GioiTinh_KH] [bit] NULL,
	[SDT_KH] [nvarchar](15) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON
INSERT [dbo].[KHACHHANG] ([ID_KH], [Ho_KH], [Ten_KH], [GioiTinh_KH], [SDT_KH]) VALUES (1, N'Lê Thị', N'Phượng', 0, N'0909658163')
INSERT [dbo].[KHACHHANG] ([ID_KH], [Ho_KH], [Ten_KH], [GioiTinh_KH], [SDT_KH]) VALUES (2, N'Trần Minh', N'Quân', 1, N'0933764907')
INSERT [dbo].[KHACHHANG] ([ID_KH], [Ho_KH], [Ten_KH], [GioiTinh_KH], [SDT_KH]) VALUES (3, N'Nguyễn Đạt', N'Nghĩa', 1, N'0911870552')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID_ChucVu] [nvarchar](5) NOT NULL,
	[Ten_ChucVu] [nvarchar](20) NULL,
	[HeSoLuong] [int] NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[ID_ChucVu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCVU] ([ID_ChucVu], [Ten_ChucVu], [HeSoLuong]) VALUES (N'BT', N'Bếp trưởng', 150000)
INSERT [dbo].[CHUCVU] ([ID_ChucVu], [Ten_ChucVu], [HeSoLuong]) VALUES (N'BV', N'Bảo vệ', 100000)
INSERT [dbo].[CHUCVU] ([ID_ChucVu], [Ten_ChucVu], [HeSoLuong]) VALUES (N'PB', N'Phụ bếp', 80000)
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NCC] [nvarchar](5) NOT NULL,
	[Ten_NCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [Ten_NCC], [DiaChi], [SDT]) VALUES (N'NCC1', N'Âu Lạc', N'Nguyễn Kiệm, Gò Vấp, HCM', N'083123456')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [Ten_NCC], [DiaChi], [SDT]) VALUES (N'NCC2', N'Hương Vị', N'39 Thạnh Phú, Thuận An, Bình Dương', N'06503799577')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [Ten_NCC], [DiaChi], [SDT]) VALUES (N'NCC3', N'Ngọc Liên', N'72 Trần Tấn, Tân Phú, HCM', N'0838105182')
/****** Object:  Table [dbo].[NGUYENVATLIEU]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENVATLIEU](
	[ID_NVL] [nvarchar](10) NOT NULL,
	[Ten_NVL] [nvarchar](50) NOT NULL,
	[ID_LoaiNVL] [nvarchar](5) NOT NULL,
	[QuyCach] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](15) NULL,
	[SoLuongCon] [float] NULL,
	[ToiThieuDatLai] [float] NULL,
 CONSTRAINT [PK_NGUYENVATLIEU] PRIMARY KEY CLUSTERED 
(
	[ID_NVL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NGUYENVATLIEU] ([ID_NVL], [Ten_NVL], [ID_LoaiNVL], [QuyCach], [DonViTinh], [SoLuongCon], [ToiThieuDatLai]) VALUES (N'C01', N'Củ hủ dừa', N'LNVL2', N'Củ', N'kg', 0, 1)
INSERT [dbo].[NGUYENVATLIEU] ([ID_NVL], [Ten_NVL], [ID_LoaiNVL], [QuyCach], [DonViTinh], [SoLuongCon], [ToiThieuDatLai]) VALUES (N'C02', N'Khoai môn', N'LNVL2', N'Củ', N'kg', 1, 1)
INSERT [dbo].[NGUYENVATLIEU] ([ID_NVL], [Ten_NVL], [ID_LoaiNVL], [QuyCach], [DonViTinh], [SoLuongCon], [ToiThieuDatLai]) VALUES (N'C03', N'Khoai lang', N'LNVL2', N'Củ', N'kg', 1, 1)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[Ho_NV] [nvarchar](50) NOT NULL,
	[Ten_NV] [nvarchar](25) NOT NULL,
	[ID_ChucVu] [nvarchar](5) NULL,
	[GioiTinh_NV] [bit] NULL,
	[NgayBatDauLam] [date] NULL,
	[SoCaLam] [int] NULL,
	[DiaChi_NV] [nvarchar](100) NULL,
	[SDT_NV] [nvarchar](15) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON
INSERT [dbo].[NHANVIEN] ([ID_NV], [Ho_NV], [Ten_NV], [ID_ChucVu], [GioiTinh_NV], [NgayBatDauLam], [SoCaLam], [DiaChi_NV], [SDT_NV]) VALUES (1, N'Võ Thành', N'Đức', N'BT', 1, CAST(0x9B2D0B00 AS Date), 14, N'HCM', N'0903847657')
INSERT [dbo].[NHANVIEN] ([ID_NV], [Ho_NV], [Ten_NV], [ID_ChucVu], [GioiTinh_NV], [NgayBatDauLam], [SoCaLam], [DiaChi_NV], [SDT_NV]) VALUES (2, N'Nguyễn Thị Thanh', N'Nhàn', N'BT', 0, CAST(0xFF2F0B00 AS Date), 14, N'HCM', N'0938987864')
INSERT [dbo].[NHANVIEN] ([ID_NV], [Ho_NV], [Ten_NV], [ID_ChucVu], [GioiTinh_NV], [NgayBatDauLam], [SoCaLam], [DiaChi_NV], [SDT_NV]) VALUES (3, N'Trần Ngọc', N'Mỹ', N'BT', 0, CAST(0xE4310B00 AS Date), 25, N'Long An', N'0904978564')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
/****** Object:  Table [dbo].[MON]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[ID_Mon] [nvarchar](8) NOT NULL,
	[Ten_Mon] [nvarchar](50) NOT NULL,
	[QuyCach] [nvarchar](50) NULL,
	[NuocCham] [nvarchar](50) NULL,
	[MonKemTheo] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[ChuThich] [nvarchar](100) NULL,
	[ID_LoaiMon] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[ID_Mon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MON] ([ID_Mon], [Ten_Mon], [QuyCach], [NuocCham], [MonKemTheo], [DonGia], [ChuThich], [ID_LoaiMon]) VALUES (N'C01', N'Canh chua', N'Phần 2 người', NULL, NULL, 30000, NULL, N'C')
INSERT [dbo].[MON] ([ID_Mon], [Ten_Mon], [QuyCach], [NuocCham], [MonKemTheo], [DonGia], [ChuThich], [ID_LoaiMon]) VALUES (N'C02', N'Canh rong biển', N'Phần 2 người', NULL, NULL, 30000, NULL, N'C')
INSERT [dbo].[MON] ([ID_Mon], [Ten_Mon], [QuyCach], [NuocCham], [MonKemTheo], [DonGia], [ChuThich], [ID_LoaiMon]) VALUES (N'C03', N'Canh xà lách xoong', N'Phần 2 người', NULL, NULL, 30000, NULL, N'C')
GO
print 'Processed 100 total records'
/****** Object:  StoredProcedure [dbo].[uspThemKH]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspThemKH]
	@Ho nvarchar(50),
	@Ten nvarchar (50),
	@GioiTinh bit,
	@DienThoai nvarchar (15)
AS
	INSERT INTO KHACHHANG(Ho_KH, Ten_KH, GioiTinh_KH, SDT_KH)
	VALUES (@Ho, @Ten, @GioiTinh, @DienThoai)
GO
/****** Object:  StoredProcedure [dbo].[uspXoaKH]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspXoaKH]
	@Ma int
	
AS
	delete KHACHHANG
	where ID_KH = @Ma
GO
/****** Object:  Table [dbo].[MON_NVL]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_NVL](
	[ID_Mon] [nvarchar](8) NOT NULL,
	[ID_NVL] [nvarchar](10) NOT NULL,
	[CheBien] [nvarchar](100) NULL,
 CONSTRAINT [PK_MON_NVL] PRIMARY KEY CLUSTERED 
(
	[ID_Mon] ASC,
	[ID_NVL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MON_NVL] ([ID_Mon], [ID_NVL], [CheBien]) VALUES (N'C01', N'C01', NULL)
INSERT [dbo].[MON_NVL] ([ID_Mon], [ID_NVL], [CheBien]) VALUES (N'C01', N'C06', NULL)
INSERT [dbo].[MON_NVL] ([ID_Mon], [ID_NVL], [CheBien]) VALUES (N'C01', N'C07', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  StoredProcedure [dbo].[uspXuatNVL]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspXuatNVL]
@MaNVL nvarchar(10),
@Soluongxuat float
AS
	UPDATE NGUYENVATLIEU
	SET SoLuongCon = SoLuongCon - @Soluongxuat
	WHERE ID_NVL = @MaNVL
GO
/****** Object:  StoredProcedure [dbo].[uspXuatNhapKho]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspXuatNhapKho]
AS
	SELECT ID_NVL,Ten_NVL, Ten_LoaiNVL, QuyCach, SoLuongCon, DonViTinh FROM NGUYENVATLIEU nvl JOIN LOAI_NVL lnvl ON lnvl.ID_LoaiNVL = nvl.ID_LoaiNVL
GO
/****** Object:  StoredProcedure [dbo].[uspXoaNV]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspXoaNV]
	@Ma int
	
AS
	delete NHANVIEN
	where ID_NV = @Ma
GO
/****** Object:  StoredProcedure [dbo].[uspXemNV]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspXemNV]
AS
	SELECT ID_NV, Ho_NV, Ten_NV, cv.Ten_ChucVu, cv.ID_ChucVu,GioiTinh_NV, DiaChi_NV,NgayBatDauLam, SoCaLam,SDT_NV
	FROM NHANVIEN nv JOIN CHUCVU cv ON nv.ID_ChucVu = cv.ID_ChucVu
GO
/****** Object:  StoredProcedure [dbo].[uspTinhLuongNV]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspTinhLuongNV]
AS
	SELECT ID_NV, (Ho_NV + ' ' + Ten_NV) AS HoTenNV, GioiTinh_NV, cv.Ten_ChucVu, SoCaLam, HeSoLuong, (SoCaLam * HeSoLuong) AS LuongThang, SDT_NV
	FROM NHANVIEN nv JOIN CHUCVU cv ON nv.ID_ChucVu = cv.ID_ChucVu
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID_Orders] [int] IDENTITY(1,1) NOT NULL,
	[ID_KH] [int] NOT NULL,
	[ID_NV] [int] NOT NULL,
	[NgayGioDat] [datetime] NOT NULL,
	[BanSo] [nvarchar](3) NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID_Orders] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON
INSERT [dbo].[ORDERS] ([ID_Orders], [ID_KH], [ID_NV], [NgayGioDat], [BanSo]) VALUES (1, 2, 11, CAST(0x000097E200E6B680 AS DateTime), N'A01')
INSERT [dbo].[ORDERS] ([ID_Orders], [ID_KH], [ID_NV], [NgayGioDat], [BanSo]) VALUES (3, 1, 11, CAST(0x0000A59601206420 AS DateTime), N'B01')
INSERT [dbo].[ORDERS] ([ID_Orders], [ID_KH], [ID_NV], [NgayGioDat], [BanSo]) VALUES (4, 3, 12, CAST(0x0000A65300986F70 AS DateTime), N'A02')
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
/****** Object:  Table [dbo].[CUNGCAP]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUNGCAP](
	[ID_NVL] [nvarchar](10) NOT NULL,
	[ID_NCC] [nvarchar](5) NOT NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CUNGCAP] PRIMARY KEY CLUSTERED 
(
	[ID_NVL] ASC,
	[ID_NCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUNGCAP] ([ID_NVL], [ID_NCC], [DonGia], [SoLuong]) VALUES (N'C01', N'NCC3', 35000.0000, 2)
INSERT [dbo].[CUNGCAP] ([ID_NVL], [ID_NCC], [DonGia], [SoLuong]) VALUES (N'C02', N'NCC3', 20000.0000, 2)
INSERT [dbo].[CUNGCAP] ([ID_NVL], [ID_NCC], [DonGia], [SoLuong]) VALUES (N'C05', N'NCC3', 15000.0000, 3)
/****** Object:  StoredProcedure [dbo].[uspThamNV]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspThamNV]
	@Ho nvarchar(50),
	@Ten nvarchar(25),
	@Chucvu nvarchar(5),
	@Gioitinh bit,
	@Ngayvaolam date,
	@Socalam int,
	@Diachi nvarchar(100),
	@SDT nvarchar(15)
AS
	INSERT INTO NHANVIEN(Ho_NV, Ten_NV, ID_ChucVu, GioiTinh_NV,NgayBatDauLam,SoCaLam, DiaChi_NV, SDT_NV)
	VALUES (@Ho, @Ten, @Chucvu, @Gioitinh,@Ngayvaolam, @Socalam, @Diachi,@SDT)
GO
/****** Object:  StoredProcedure [dbo].[uspSuaNV]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSuaNV]
	@Ma int,
	@HoNV nvarchar(50),
	@TenNV nvarchar(25),
	@Chucvu nvarchar(5),
	@Gioitinh bit,
	@Ngayvaolam date,
	@Socalam int,
	@Diachi nvarchar(100),
	@SDT nvarchar(15)
AS
	UPDATE NHANVIEN
	SET Ho_NV = @HoNV, Ten_NV = @TenNV, ID_ChucVu = @Chucvu, GioiTinh_NV = @Gioitinh, NgayBatDauLam = @Ngayvaolam, SoCaLam = @Socalam, DiaChi_NV = @Diachi, SDT_NV = @SDT
	WHERE ID_NV = @Ma
GO
/****** Object:  StoredProcedure [dbo].[uspNVL_LoaiNVL]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspNVL_LoaiNVL]
@MaLoaiNVL nvarchar(5)
AS
	SELECT ID_NVL, Ten_NVL, Ten_LoaiNVL, QuyCach, SoLuongCon, DonViTinh FROM NGUYENVATLIEU nvl JOIN LOAI_NVL lnvl ON lnvl.ID_LoaiNVL = nvl.ID_LoaiNVL
	WHERE lnvl.ID_LoaiNVL = @MaLoaiNVL
GO
/****** Object:  StoredProcedure [dbo].[uspNhapNVL]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspNhapNVL]
@MaNVL nvarchar (10),
@Soluongnhap float
AS
	UPDATE NGUYENVATLIEU
	SET SoLuongCon = SoLuongCon + @Soluongnhap
	WHERE ID_NVL = @MaNVL
GO
/****** Object:  StoredProcedure [dbo].[uspDatHang]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDatHang]
AS
SELECT nvl.ID_NVL, Ten_NVL, Ten_LoaiNVL, Ten_NCC, QuyCach, SoLuongCon, DonViTinh FROM CUNGCAP cc
	JOIN NGUYENVATLIEU nvl ON nvl.ID_NVL = cc.ID_NVL
	JOIN NHACUNGCAP ncc ON cc.ID_NCC = ncc.ID_NCC 
	JOIN LOAI_NVL loaiVNL ON nvl.ID_LoaiNVL = loaiVNL.ID_LoaiNVL
	WHERE SoLuongCon <= ToiThieuDatLai
GO
/****** Object:  Table [dbo].[MON_ORDERS]    Script Date: 12/24/2016 15:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_ORDERS](
	[ID_Orders] [int] NOT NULL,
	[ID_Mon] [nvarchar](8) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_MON_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID_Orders] ASC,
	[ID_Mon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MON_ORDERS] ([ID_Orders], [ID_Mon], [SoLuong], [DonGia]) VALUES (1, N'C01', 1, 30000)
INSERT [dbo].[MON_ORDERS] ([ID_Orders], [ID_Mon], [SoLuong], [DonGia]) VALUES (1, N'CC02', 1, 35000)
INSERT [dbo].[MON_ORDERS] ([ID_Orders], [ID_Mon], [SoLuong], [DonGia]) VALUES (3, N'G03', 1, 35000)
/****** Object:  StoredProcedure [dbo].[uspThanhToanTongHD]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspThanhToanTongHD]
AS
	--(SELECT ID_Orders, ID_Mon, SoLuong, DonGia, (DonGia*SoLuong) AS TinhTien, ThanhTien = SUM(DonGia*SoLuong) FROM MON_ORDERS mo
	--GROUP BY ID_Orders, ID_Mon, SoLuong, DonGia)
	SELECT ID_Orders, COUNT(ID_Mon) AS TongMon, SUM(DonGia*SoLuong) AS ThanhTien FROM MON_ORDERS
	GROUP BY ID_Orders;
GO
/****** Object:  StoredProcedure [dbo].[uspThanhToanHD]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspThanhToanHD]
AS
	--(SELECT ID_Orders, ID_Mon, SoLuong, DonGia, (DonGia*SoLuong) AS TinhTien, ThanhTien = SUM(DonGia*SoLuong) FROM MON_ORDERS mo
	--GROUP BY ID_Orders, ID_Mon, SoLuong, DonGia)
	SELECT ID_Orders, COUNT(ID_Mon) AS TongMon, SUM(DonGia*SoLuong) AS ThanhTien FROM MON_ORDERS
	GROUP BY ID_Orders;
GO
/****** Object:  StoredProcedure [dbo].[uspThanhToanCTHD]    Script Date: 12/24/2016 15:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspThanhToanCTHD]
AS
	SELECT mo.ID_Orders, Ten_Mon, SoLuong, mon.DonGia, (mon.DonGia*SoLuong) AS TinhTien
	FROM MON_ORDERS mo JOIN ORDERS ord ON mo.ID_Orders = ord.ID_Orders
	JOIN MON mon ON mon.ID_Mon = mo.ID_Mon
	GROUP BY mo.ID_Orders, Ten_Mon, SoLuong, mon.DonGia
	--SELECT ID_Orders, COUNT(ID_Mon) AS TongMon, SUM(DonGia*SoLuong) AS ThanhTien FROM MON_ORDERS
	--GROUP BY ID_Orders;
GO
/****** Object:  ForeignKey [FK_CUNGCAP_NGUYENVATLIEU]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CUNGCAP_NGUYENVATLIEU] FOREIGN KEY([ID_NVL])
REFERENCES [dbo].[NGUYENVATLIEU] ([ID_NVL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CUNGCAP_NGUYENVATLIEU]
GO
/****** Object:  ForeignKey [FK_CUNGCAP_NHACUNGCAP]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CUNGCAP_NHACUNGCAP] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CUNGCAP_NHACUNGCAP]
GO
/****** Object:  ForeignKey [FK_MON_LOAI_MON]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [FK_MON_LOAI_MON] FOREIGN KEY([ID_LoaiMon])
REFERENCES [dbo].[LOAI_MON] ([ID_LoaiMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [FK_MON_LOAI_MON]
GO
/****** Object:  ForeignKey [FK_MON_NVL_MON]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[MON_NVL]  WITH CHECK ADD  CONSTRAINT [FK_MON_NVL_MON] FOREIGN KEY([ID_Mon])
REFERENCES [dbo].[MON] ([ID_Mon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON_NVL] CHECK CONSTRAINT [FK_MON_NVL_MON]
GO
/****** Object:  ForeignKey [FK_MON_NVL_NGUYENVATLIEU]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[MON_NVL]  WITH CHECK ADD  CONSTRAINT [FK_MON_NVL_NGUYENVATLIEU] FOREIGN KEY([ID_NVL])
REFERENCES [dbo].[NGUYENVATLIEU] ([ID_NVL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON_NVL] CHECK CONSTRAINT [FK_MON_NVL_NGUYENVATLIEU]
GO
/****** Object:  ForeignKey [FK_MON_ORDERS_MON]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[MON_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_MON_ORDERS_MON] FOREIGN KEY([ID_Mon])
REFERENCES [dbo].[MON] ([ID_Mon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON_ORDERS] CHECK CONSTRAINT [FK_MON_ORDERS_MON]
GO
/****** Object:  ForeignKey [FK_MON_ORDERS_ORDERS]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[MON_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_MON_ORDERS_ORDERS] FOREIGN KEY([ID_Orders])
REFERENCES [dbo].[ORDERS] ([ID_Orders])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON_ORDERS] CHECK CONSTRAINT [FK_MON_ORDERS_ORDERS]
GO
/****** Object:  ForeignKey [FK_NGUYENVATLIEU_LOAI_NVL]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[NGUYENVATLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENVATLIEU_LOAI_NVL] FOREIGN KEY([ID_LoaiNVL])
REFERENCES [dbo].[LOAI_NVL] ([ID_LoaiNVL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NGUYENVATLIEU] CHECK CONSTRAINT [FK_NGUYENVATLIEU_LOAI_NVL]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_CHUCVU]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([ID_ChucVu])
REFERENCES [dbo].[CHUCVU] ([ID_ChucVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
/****** Object:  ForeignKey [FK_ORDERS_KHACHHANG]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_KHACHHANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_ORDERS_NHANVIEN]    Script Date: 12/24/2016 15:45:51 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_NHANVIEN] FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHANVIEN] ([ID_NV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_NHANVIEN]
GO
